{% extends 'baseFront.html.twig' %}
{% block header %}
<nav class="nav-breadcrumb" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{path("home")}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{produit.name }}</li>
        </ol>
    </div>
</nav>
<header class="header-page">
    <div class="container">
        <img class="img-fluid"src="{{asset('images/imgslide-04.jpg')}}">
    </div>
</header>
{% endblock %}

{% block body %}
        <div class="product-detail">
            <div class="container">
                    <div class="row no-gutters">
                        <div class="col-md-4 product-img">
                            <img class="img-thumbnail" src="https://via.placeholder.com/350" alt="img-{{produit.name }}" >
                        </div>
                        <div class="col-md-4">
                            <div class="info-product ml-2">
                                <h3>T-shirt {{ produit.name }}</h3>
                                <p>Référence artice:<span class="badge badge badge-info ml-2">{{ produit.name }}</span></p>
                                <p>{{ produit.description }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card ml-md-5">
                                <div class="card-header">
                                    <h4 class="item-price">{{ produit.price | number_format(2) }} € </h4>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <label class="col-lg-4 col-sm-12 col-form-label">Quantité</label>
                                            <div class="col-lg-8 col-sm-12">
                                            <input class="form-control" type="number" value="1" min="1" max="100"/>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="card-body">
                                    <a href="{{path("panier")}}" class="card-link btn btn-primary btn-sm"><i class="fas fa-shopping-cart mr-2"></i>Ajouter au panier</a>
                                </div>
                                <div class="card-body icon-card">
                                    <span><i class="fab fa-cc-mastercard mr-2"></i></span>
                                    <span><i class="fab fa-cc-visa mr-2"></i></span>
                                    <span><i class="fab fa-cc-paypal mr-2"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="extra-product">
                    <ul class="list-group">
                        <li class="list-group-item active">Fiche technique</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Sed tamen haec cum ita tutius observentur, quidam vigore artuum inminuto rogati ad nuptias ubi aurum dextris manibus cavatis offertur, inpigre vel usque Spoletium pergunt. haec nobilium sunt instituta</li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}